@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  font-size: 14px;
}

nav {
  font-family: "DM Sans", sans-serif;
}

nav a {
  @apply text-white font-normal text-lbase pb-4 hover:border-b-2 hover:border-b-white;
}

h1 {
  font-family: "Inter", sans-serif;
}

h1 {
  @apply lg:text-xl md:text-lg text-md;
}

select {
  @apply p-3 border border-grey text-light_black;
}

option {
  @apply text-base font-medium leading-6;
}
