@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }

  html,
  body {
    font-size: 14px;
  }

  nav,
  h5,
  span {
    font-family: "DM Sans", sans-serif;
  }

  nav a {
    @apply text-white font-normal lg:text-lbase text-sm pb-4;
  }

  h1,
  h2,
  h4,
  p,
  .flexibility-image > div,
  input {
    font-family: "Inter", sans-serif;
  }

  h1 {
    @apply md:text-xl text-md;
  }

  h2 {
    @apply md:text-lg text-sm lg:font-extrabold font-bold text-black;
  }

  h4 {
    @apply text-lbase font-semibold;
  }

  h5 {
    @apply lg:text-sm text-lbase font-bold;
  }
}

@layer utilities {
  #Home select {
    @apply p-3 border border-grey text-light_black;
  }

  #Home option {
    @apply text-base font-medium leading-6;
  }

  .living-icon img {
    @apply max-w-full drop-shadow-minimumLiving rounded-xl bg-white p-3;
  }

  .room-features span {
    @apply font-bold lg:text-lbase text-base;
  }

  .pagination span {
    @apply border border-pagination cursor-pointer font-bold lg:p-6 p-4;
  }

  .flexibility-image {
    @apply relative cursor-pointer;
  }

  .flexibility-image > div {
    @apply absolute top-0 left-0 pt-5 font-semibold text-white lg:text-[24px] text-lbase bg-flexibilityImageHover h-full w-full rounded-[20px] opacity-0 hover:opacity-100 text-center;
  }

  .property img {
    @apply w-full;
  }

  footer span {
    @apply text-footer_text text-lbase font-normal;
  }

  .footer-nav {
    @apply flex items-center gap-4 flex-nowrap;
  }

  .footer-nav span {
    @apply text-footer_text text-base uppercase font-normal;
  }
}
